<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee; http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servlet_prj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>day0427.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CallServlet</display-name>
    <servlet-name>CallServlet</servlet-name>
    <servlet-class>day0427.CallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallServlet</servlet-name>
    <url-pattern>/call_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormParameter</display-name>
    <servlet-name>FormParameter</servlet-name>
    <servlet-class>day0428.FormParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormParameter</servlet-name>
    <url-pattern>/form_param.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>FormProcess</display-name>
    <servlet-name>FormProcess</servlet-name>
    <servlet-class>day0428.FormProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormProcess</servlet-name>
    <url-pattern>/form_process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataProcess</display-name>
    <servlet-name>DataProcess</servlet-name>
    <servlet-class>day0428.DataProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataProcess</servlet-name>
    <url-pattern>/data_process</url-pattern>
  </servlet-mapping>
</web-app>