div{
	line-height:2rem;
}

h1{
font-family:arial, sans-serif;
font-weight:lighter;
font-size:1rem;
}
p.text1{
		font-size:2rem;
		font-weight:bold;
		font-style:italic;
}

p.text2{
	font-size:2rem;
	font-style:italic;
}

address{
	font-style:normal;
}